body {
  margin: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movieCover {
  width: 299px;
  height: 168;
}

.movieTitle {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.movieBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  margin: 1em;
}

.movieList {
  display: flex;
}

.navBar {
  padding: 16px 3%;
  background-color: #000;
  display: flex;
}

.netflix-logo {
  width: 110px;
  margin: 6px 0 0 0;
}

.logo-div {
  flex-grow: 1;
}

.btn-get-started {
  background-color: #e50914;
  color: #fff;
  padding: 10px 2em;
  box-shadow: 0 1px 0 rgba(0,0,0,.45);
  border: none;
  margin: .5em .5em 0 0;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-login {
  font-size: 13px;
  border-radius: 2px;
  border: #fff solid 1px;
  color: #fff;
  padding: 10px 2em;
  cursor: pointer;
}

.btn-login:hover {
  background-color: rgb(37, 36, 36);
}
